@import 'mixins.less';
@import 'paper-shadow.less';
@import 'parallax.less';
@import url(http://fonts.googleapis.com/css?family=Ruthie|Amatic+SC:400,700|Loved+by+the+King|Sacramento);

body, html {
  height: 100%;
  font-family: 'Loved by the King';
  font-size: 20px;
}

h1, h2 {
  font-family: 'Amatic SC';
  margin: 0;
}

h1 { font-size: 50px; }
h2 { font-size: 30px; }

.debugger {
  background: rgba(0, 0, 0, .85);
  border-radius: 0 0 5px 5px;
  color: #fff;
  font-family: arial;
  font-size: 14px;
  left: .5em;
  padding: .5em;
  position: fixed;
  top: 0;
  z-index: 999;
}

.background {
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 100%;

  &.top-left      { background-position: top    left;   }
  &.top-center    { background-position: top    center; }
  &.top-right     { background-position: top    right;  }
  &.center-left   { background-position: center left;   }
  &.center-center { background-position: center center; }
  &.center-right  { background-position: center right;  }
  &.bottom-left   { background-position: bottom left;   }
  &.bottom-center { background-position: bottom center; }
  &.bottom-right  { background-position: bottom right;  }
}

.captions {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  h1, h2 {
    color: #fff;
    position: absolute;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, .8);
  }
}

.banner {
  height: auto;
  margin-bottom: -50px;

  & .layer {
    background: #fff;
    line-height: 1.5;
    padding: 40px 60px;
    position: relative;
  }
}

.columns {
  .column-count(3);
  .column-fill(auto);
  .column-gap(0);

  & > div {
    .column-break-inside(avoid);
    display: inline-block;
    margin: 0 10px 20px 10px;
    position: relative;

    img {
      width: 100%;
    }
  }
}

@media (max-width: 650px) {
  .columns {
    .column-count(2);
  }
}

@media (min-width: 960px) {
  .columns {
    .column-count(4);
  }
}

@media (min-width: 1300px) {
  .columns {
    .column-count(5);
  }
}

#s1 {
  height: 100vh;

  .background {
    background-position: 60% 65%;
  }

  .captions {
    .logo {
      border-radius: 100%;
      border: 10px solid #fff;
      bottom: 25vh;
      box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .8), inset 1px 1px 5px 0 rgba(0, 0, 0, .8);
      color: #fff;
      font-family: 'Amatic SC';
      font-size: 10vh;
      font-weight: bold;
      height: 25vh;
      left: 10vw;
      line-height: 25vh;
      position: absolute;
      text-align: center;
      text-shadow: 1px 1px 5px rgba(0, 0, 0, .8);
      width: 25vh;
    }

    h2 {
      right: 35px;
      bottom: 20px;
    }
  }
}

#s2 {
  .layer {
    .paper-shadow.z-2();
    min-height: 300px;
  }
}

#s3 {
  height: 80vh;

  .background {
    .paper-shadow.z-3();
    background-position: 50% 35%;
  }

  .captions {
    h1 {
      left: 40px;
      right: 50px;
      top: 70px;
    }
  }
}

#s4 {
  height: 60vh;
  margin: 100px 0;

  .background {
    .paper-shadow.z-1();
    background-position: 0% 100%;
  }

  .captions {
    h1 {
      text-align: right;
      left: 40px;
      right: 50px;
      bottom: 30px;
    }
  }
}

#s5 {
  height: 80vh;

  .background {
    .paper-shadow.z-3();
    background-position: 85% 35%;
  }

  .captions {
    h1 {
      left: 40px;
      right: 50px;
      top: 80px;
    }
  }
}

#s6 {
  height: 0;

  & .background {
    height: 200vh;
    top: 600px;
  }
}

#s7 {
  height: auto;

  & .columns {
    box-sizing: border-box;
    padding: 150px 20px 0 20px;
    position: relative;
    width: 100%;

    .thumbnail {
      .paper-shadow.z-2();
      background: #fefefe;
      cursor: pointer;
      line-height: 0;
      padding: 10px;
    }
  }
}

#s8 {
  height: 100vh;

  .layer {
    .paper-shadow.z-3();
    min-height: 400px;
  }
}
