@import 'mixins.less';
@import 'paper-shadow.less';
@import 'parallax.less';

body,
html {
  height: 100%
}

.debugger {
  background: rgba(0,0,0,.85);
  border-radius: 0 0 5px 5px;
  color: #fff;
  left: .5em;
  padding: .5em;
  position: fixed;
  top: 0;
  z-index: 999;
}

.background {
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 100%;

  &.top-left      { background-position: top    left;   }
  &.top-center    { background-position: top    center; }
  &.top-right     { background-position: top    right;  }
  &.center-left   { background-position: center left;   }
  &.center-center { background-position: center center; }
  &.center-right  { background-position: center right;  }
  &.bottom-left   { background-position: bottom left;   }
  &.bottom-center { background-position: bottom center; }
  &.bottom-right  { background-position: bottom right;  }
}

#s1,
#s3,
#s5,
#s7,
#s9 {
  height: 100vh;

  & > .background {
    height: 100%;
    width: 100%;
  }
}

#s1 > .background {
  background-position: 60% 65%;
}

#s3 > .background {
  background-position: 50% 30%;
}

#s4 > .columns {
  box-sizing: border-box;
  padding: 0 20px;
  position: relative;
  width: 100%;

  .thumbnail {
    .paper-shadow.z-2();
    background: #fefefe;
    line-height: 0;
    padding: 10px;
  }
}

#s2,
#s6,
#s8 {
  height: auto;
  min-height: 400px;
  padding: 10px;
  box-sizing: border-box;

  & > .spacer {
    .paper-shadow.z-1();
    background: #fff;
    padding: 30px 40px;
  }
}

.columns {
  .column-count(3);
  .column-fill(auto);
  .column-gap(0);

  & > div {
    .column-break-inside(avoid);
    display: inline-block;
    margin: 0 10px 20px 10px;
    position: relative;

    img {
      width: 100%;
    }
  }
}

@media (max-width: 650px) {
  .columns {
    .column-count(2);
  }
}

@media (min-width: 960px) {
  .columns {
    .column-count(4);
  }
}

@media (min-width: 1300px) {
  .columns {
    .column-count(5);
  }
}